<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/free.css">
  <meta charset="UTF-8">
  <title>Шаблон</title>
</head>
  <body>
<header class="header">

  <img src="resources/icon.svg"  width="40" height="40"/>

</header>
<div class="paragraph">
  <div class="info">
    Привет
    <h2>Иванов Иван Иванович</h2>
    <span class="study">Мужчина</span>
    <span class="study">18 лет</span>
    <span class="study" >Родился 15 сентября 1991 года</span>

  </div>

<div class="paragraph">

    <span>+7 (800) 303 40-40</span><br>
    <span>ivanov@resumen.com</span>

</div>
  <div class="paragraph">

    <div class = " info ">
      Проживает: <span> Москва </span><br>
      Гражданство: <span> Россия</span >
      <span class="study"></span> разрешение на работу: <span> Россия </span><br>
      <span class="study"> Не готов к переезду </span><span class="study"> не готов к командировкам </span>

    </div>

  </div>
</div>


<div class="paragraph"><span class=" paragraph-head">Желаемая должность и зарплата</span>
  <hr>
  <h3>Програмист Java</h3>
  <span>Специализации:</span>
  <ul>
    <li>Програмист, разработчик</li>

  </ul>

  <div class = " info ">
    Занятость: <span> полная занятость </span><br>
    График работы: <span>полный день </span ><br>
    Желательное время в пути до работы: <span> не имеет значения </span>
  </div>
</div>

<div class = " info paragraph "><span class=" paragraph-head">Образование</span>
  <hr>
  <h3>Неоконченное высшее</h3>

  <ul class="courses-list">
    <li class="courses-item">
      <span class="courses-item-title">2014</span>
      <div class="courses-item-content">
        <div> <span class="study"> Московский Государственный Университет</span>
          <span class="study"> Москва</span> </div>
        <span style="font-weight: bold">  <span class="study"> Факультет автоматики и вычислительной техники </span>
      <span class="study" > Информатика и вычислительная техника</span> </span>
      </div>
    </li>
  </ul>

</div>

<div class = "info paragraph "><span class=" paragraph-head">Повышение квалификации, курсы</span>
  <hr>
  <ul class="courses-list">
  <li class="courses-item">
    <span class="courses-item-title">2024</span>
    <div class="courses-item-content">
      <div> Шифт 2023 </div>
      <span style="font-weight: bold"> ЦФТ </span>
    </div>
  </li>
  </ul>

</div>

<div class="info"><span class=" paragraph-head">Ключевые навыки</span>
  <hr>
  <ul class="courses-list">
    <li class="courses-item">
      <span class="courses-item-title">Навыки</span>
      <div class="courses-content gaps">
        <div class="gap"> Java </div>
        <div class="gap"> SQL</div>
        <div class="gap"> Kotlin</div>
        <div class="gap"> Python</div>
        <div class="gap"> C++</div>
        <span style="font-weight: bold">  </span>
      </div>
    </li>
  </ul>


</div>

</body>
</html>
