body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* да это крутая хрень */
     border-left: 2px solid #778899;
    border-radius: 8px;

}

.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #778899;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    color: #000000;
}

.section {
    margin-bottom: 20px;
    position: relative;
}

.section-header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.section-header h2 {
    background: #778899;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px 0 0 5px;
}

.vertical-line {
    width: 2px;
    background: #778899;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}

.paragraph {
    padding-left: 30px;
    border-left: 2px solid #778899;
}

.label {
    font-weight: bold;
    color: #000;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills-item {
    background: #778899;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    font-size: 14px;
}

