body{
  max-width: 816px;
  width: 816px;
  min-width: 816px;
}
.header {
  background-color: #FFEBCD;
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;

}

img{
  margin-right: 15px;
}
.myself{
  display: block;
  margin-right: 10px;
}
.myself-container {
  display: flex;
  flex-direction: column;
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 5px;
}

.label {
  font-weight: bold;
}















.study {
  display: inline;
}

.study:after {
  display: inline;
  content: ','
}

.study:last-of-type:after {
  display: none;
}

.courses-list {
  list-style-type: none;
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}

.courses-item {
  display: flex;
  box-sizing: content-box;
  width: 700px;
  flex-direction: row;
  gap: 10px;
}

.courses-item-title {
 padding-left: 20px;
  box-sizing: content-box;

}
.info .paragraph-head {
  margin-left: 20px;
}


.courses-content{
  display: flex;
  flex-wrap:  wrap;
  max-width:600px;
  box-sizing: content-box;
}

.gaps{
  box-sizing: content-box;
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
  max-width: 800px;

}

.paragraph-head{
  color:#A9A9A9;
}
.gap {
  padding: 10px 15px;
  border: 1px solid black ;
  box-sizing: content-box;
  border-radius: 10px;
  margin-right: 50px;
}
.info {
  box-sizing: content-box;
}
.paragraph{margin-bottom:20px;
}