<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="css/free-3.css">
  <meta charset="UTF-8">
  <title>Шаблон</title>
</head>

  <body>
<header class="header">

  <img src="resources/icon.svg"  width="40" height="40"/>

</header>
<div class="div">
<div class="half">
  <div class="name">
    <h2 th:text="${firstName}" class="name">Иванов</h2>
    <h2 th:text="${secondName}" class="name">Иван</h2>
    <h2 th:text="${thirdName}" class="name">Иванович</h2>

  </div>

  <div class="paragraph">

    <span class="paragraph-head">Желаемая должность и зарплата</span>
    <br>
    <hr>

    <span style="font-weight: bold" th:text=" ${desiredRole}">Програмист JAVA</span><br>
    <span th:text="'Занятость: ' + ${busynessType}"> полная занятость</span><br>
    <span th:text="'График работы: ' + ${scheduleType}">полный день </span ><br>
    <span th:text="'Зарплата: ' + ${desiredSalary}">10000 руб </span >

  </div>

  <div class = " info paragraph "><span class=" paragraph-head">Образование</span>
    <hr>

    <ul th:each="educate: ${education}" class="courses-list">
      <h4 th:text="${educationStage}">Неоконченное высшее</h4>
      <li class="courses-item">
        <div class="pop"><span th:text="${enterDate}" class="courses-item-title">3523</span>
          <span th:text="'— ' + ${graduatedDate}" class="courses-item-title">— 3542</span></div>
        <div class="courses-item-content">
          <div> <span th:text="${title}" class="study"> Московский Государственный Университет</span>
            <span th:text="$locationCity}" class="study"> Москва</span> </div>
          <span style="font-weight: bold">  <span th:text="${faculty}" class="study"> Факультет автоматики и вычислительной техники </span><br>
      <span th:text="${speciality}" class="study" > Информатика и вычислительная техника</span> </span>
        </div>
      </li>
    </ul>

  </div>
  <div class = "info paragraph "><span class=" paragraph-head">Опыт работы</span>
    <hr>
    <ul th:each="Work: ${workExperience}" class="courses-list">
      <li class="courses-item">
        <div class="pop"><span th:text="${gotJobDate}" class="courses-item-title">1999</span>
          <span th:text="'— ' + ${quitJobDate}" class="courses-item-title">— 2000</span></div>
        <div class="courses-item-content">
          <div> <span th:text="${companyName}" class="study"> ЦФТ</span>
          </div>
          <span style="font-weight: bold">  <span th:text="${kindOfActivity}" class="study"> програмист  </span>
       </span><br>
          <span style="font-weight: bold" th:text="'Всё ещё работаю: + ${isCurrentlyWorking}" > нет  </span>
        </div>
      </li>
    </ul>
  </div>



</div>

<div class="half">
  <div class="paragraph">
    <span class="paragraph-head">Личная информация</span>
    <br>
    <hr>
    <span th:text="${genderType}" class="study">Мужчина</span><br>
    <span th:text="'Родился '${dateOfBirth}" class="study" >Родился 15 сентября 1991 года</span><br>
    <span th:text="'Семейное положение: ' + ${dateOfBirth}"  >семейное положение</span><br>
    <span th:text="'Есть дети: ' + ${hasChild}"  >нет</span>
    <span th:text="'Проживает: ' + ${city}"> Москва </span><br>
    <span th:text="'Гражданство: ' + ${residenceCountry}"> Россия</span >
    <br>
    <span th:text="${readyForTravelling}"class="study"> Не готов к командировкам  </span>
  </div>

  <div class="paragraph">
    <span class="paragraph-head">Контакты</span>
    <br>
    <hr>
    <ul th:each="Media : ${socialMedia}" class="courses-list">

      <li class="courses-item">
        <span th:text="${type} + ':'" class="courses-item-title">telegram:</span>

        <div class="courses-item-content">
          <span th:text="${url}" >@ivanov</span>
        </div>
      </li>
    </ul>


  </div>

</div>
</div>
</body>
</html>
