
body{
  max-width: 816px;
  width: 816px;
  min-width: 816px;
}
.header {
  background-color: #D3D3D3;
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;

}

img{
  margin-right: 15px;
}
.div{
display: flex;
 flex-direction: row;
 }

.half{
padding: 5px;
  display: flex;
  max-width: 400px;
  width: 400px;
  min-width: 400px;
  flex-direction: column;


}

.paragraph{
margin: 6px;
}

.name{
display: inline;
max-width: 400px;
  width: 400px;
  min-width: 400px;

}

.courses-item-title {
  box-sizing: content-box;
  margin: 0;
  font-size: 15px;
}
.info {
  box-sizing: content-box;
}

.courses-item {
  display: flex;
  box-sizing: content-box;
  width: 400px;
  flex-direction: row;
  gap: 10px;
}
.pop{
display: inline;
white-space: nowrap;
margin: 0;
}
.courses-list {
  list-style-type: none;
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}
.paragraph-head{
  color:#A9A9A9;
}