<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="css/free4.css">
    <meta charset="UTF-8">
    <title>Резюме</title>
</head>
<body>
<header class="header">
    <img src="resources/icon4.svg" width="40" height="40" alt="0"/>

</header>

<div class="container">
    <section class="section">
        <div class="section-header">
            <h2>Личная информация</h2>
            <div class="vertical-line"></div>
        </div>
        <div class="paragraph">
            <table>
                <tr>
                    <td class="label">ФИО:</td>
                    <td>Иванов Иван Иванович</td>
                </tr>
                <tr>
                    <td class="label">Пол:</td>
                    <td>Мужчина</td>
                </tr>
                <tr>
                    <td class="label">Возраст:</td>
                    <td>18 лет</td>
                </tr>
                <tr>
                    <td class="label">Дата рождения:</td>
                    <td>15 сентября 1991 года</td>
                </tr>
                <tr>
                    <td class="label">Контактная почта:</td>
                    <td>ivanov@resumen.com</td>
                </tr>
                <tr>
                    <td class="label">Проживает:</td>
                    <td>Москва</td>
                </tr>
                <tr>
                    <td class="label">Гражданство:</td>
                    <td>Россия</td>
                </tr>
                <tr>
                    <td class="label">Разрешение на работу:</td>
                    <td>Россия</td>
                </tr>
                <tr>
                    <td class="label">Переезд/Командировки:</td>
                    <td>Не готов к переезду, не готов к командировкам</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="section">
        <div class="section-header">
            <h2>Желаемая должность и условия</h2>
            <div class="vertical-line"></div>
        </div>
        <div class="paragraph">
            <table>
                <tr>
                    <td class="label">Желаемая должность:</td>
                    <td>Программист Java</td>
                </tr>
                <tr>
                    <td class="label">Специализации:</td>
                    <td>Программист, разработчик</td>
                </tr>
                <tr>
                    <td class="label">Занятость:</td>
                    <td>Полная занятость</td>
                </tr>
                <tr>
                    <td class="label">График работы:</td>
                    <td>Полный день</td>
                </tr>
                <tr>
                    <td class="label">Желательное время в пути до работы:</td>
                    <td>Не имеет значения</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="section">
        <div class="section-header">
            <h2>Образование</h2>
            <div class="vertical-line"></div>
        </div>
        <div class="paragraph">
            <table>
                <tr>
                    <td class="label">Образование:</td>
                    <td>Неоконченное высшее</td>
                </tr>
                <tr>
                    <td class="label">Год:</td>
                    <td>2014</td>
                </tr>
                <tr>
                    <td class="label">Университет:</td>
                    <td>Московский Государственный Университет</td>
                </tr>
                <tr>
                    <td class="label">Город:</td>
                    <td>Москва</td>
                </tr>
                <tr>
                    <td class="label">Факультет:</td>
                    <td>Факультет автоматики и вычислительной техники</td>
                </tr>
                <tr>
                    <td class="label">Специализация:</td>
                    <td>Информатика и вычислительная техника</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="section">
        <div class="section-header">
            <h2>Ключевые навыки</h2>
            <div class="vertical-line"></div>
        </div>
        <div class="paragraph">
            <table>
                <tr>
                    <td class="label">Ключевые навыки:</td>
                    <td>
                        <ul class="skills-list">
                            <li class="skills-item">Java</li>
                            <li class="skills-item">SQL</li>
                            <li class="skills-item">Kotlin</li>
                            <li class="skills-item">Python</li>
                            <li class="skills-item">C++</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
</body>
</html>
