<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/free2.css">
  <meta charset="UTF-8">
  <title>Шаблон</title>
</head>
  <body>
<header class="header">

  <img src="resources/icon2.svg"  width="40" height="40"/>

</header>
<div class="paragraph">
  <table>
    <tr>
      <hr>
      <td class="label">ФИО:</td>
      <td>Иванов Иван Иванович</td>
    </tr>
    <tr>
      <td class="label">Пол:</td>
      <td>Мужчина</td>
    </tr>
    <tr>
      <td class="label">Возраст:</td>
      <td>18 лет</td>
    </tr>
    <tr>
      <td class="label">Дата рождения:</td>
      <td>15 сентября 1991 года</td>
    </tr>
    <tr>
      <td class="label">Контактная почта:</td>
      <td>ivanov@resumen.com</td>
    </tr>
    <tr>
      <td class="label">Проживает:</td>
      <td>Москва</td>
    </tr>
    <tr>
      <td class="label">Гражданство:</td>
      <td>Россия</td>
    </tr>
    <tr>
      <td class="label">Разрешение на работу:</td>
      <td>Россия</td>
    </tr>
    <tr>
      <td class="label">Переезд/Командировки:</td>
      <td>Не готов к переезду, не готов к командировкам</td>
    </tr>
  </table>
</div>

  <hr>
<div class="paragraph">
  <table>
    <tr>
      <td class="label">Желаемая должность:</td>
      <td>Програмист Java</td>
    </tr>
    <tr>
      <td class="label">Специализации:</td>
      <td>Програмист, разработчик</td>
    </tr>
    <tr>
      <td class="label">Занятость:</td>
      <td>Полная занятость</td>
    </tr>
    <tr>
      <td class="label">График работы:</td>
      <td>Полный день</td>
    </tr>
    <tr>
      <td class="label">Готов к переезду:</td>
      <td>Да</td>
    </tr>
  </table>
</div>
<hr>

<div class="paragraph">
  <table>
    <tr>
      <td class="label">Образование:</td>
      <td>Неоконченное высшее</td>
    </tr>
    <tr>
      <td class="label">Год:</td>
      <td>2014</td>
    </tr>
    <tr>
      <td class="label">Университет:</td>
      <td>Московский Государственный Университет</td>
    </tr>
    <tr>
      <td class="label">Город:</td>
      <td>Москва</td>
    </tr>
    <tr>
      <td class="label">Факультет:</td>
      <td>Факультет автоматики и вычислительной техники</td>
    </tr>
    <tr>
      <td class="label">Специализация:</td>
      <td>Информатика и вычислительная техника</td>
    </tr>
  </table>
</div>
<hr>

<div class="paragraph">
  <table>
    <tr>
      <td class="label">Год:</td>
      <td>2024</td>
    </tr>
    <tr>
      <td class="label">Организация:</td>
      <td>ЦФТ</td>
    </tr>
  </table>
</div>
<hr>

<div class="paragraph">
  <table>
    <tr>
      <td class="label">Ключевые навыки:</td>
      <td>
        <ul class="courses-list">
          <li class="courses-item">
            <div class="courses-content gaps">
              <div class="gap">Java</div>
              <div class="gap">SQL</div>
              <div class="gap">Kotlin</div>
              <div class="gap">Python</div>
              <div class="gap">C++</div>
            </div>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
